body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

video {
  width: 100%;
  border-radius: 6px;
}

.card {
  margin-bottom: 30px;
}

.card-body {
  padding: 1rem;
}
.video-card {
  scroll-margin-top: 70px;
}

.navbar-brand {
  font-size: 1.4rem;
}
